@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap'); /*FONT Inter */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";
body {
  @apply bg-slate-50 text-slate-900;
  font-family: "Plus Jakarta Sans", sans-serif;
}
@layer utilities {
  .brand-gradient {
    @apply bg-gradient-to-r from-orange-500 via-pink-500 to-violet-500;
  }

  .brand-gradient-text {
    @apply bg-gradient-to-r from-orange-500 via-pink-500 to-violet-500
           bg-clip-text text-transparent;
  }

  .brand-gradient-border {
    position: relative;
    border: 1px solid transparent;
    background:
      linear-gradient(white, white) padding-box,
      linear-gradient(to right, #f97316, #ec4899, #8b5cf6) border-box;
  }
}